#easy_admin:
#    entities:
#        # List the entity class name you want to manage
#        - App\Entity\Product
#        - App\Entity\Category
#        - App\Entity\User

easy_admin:
    entities:
        # List the entity class name you want to manage
        - App\Entity\Cat
        - App\Entity\Dog
        - App\Entity\Truck
        - App\Entity\Moped
